.calendar-date {
  position: relative;
}
.calendar-table {
  display: none;
  position: absolute;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #000;
  width: 200px;
  z-index: 999;
  top: 30px;
  left: 0;
}
.calendar-table table {
  margin-top: 0 !important;
  width: 100%;
  border-collapse: separate !important;
}
.calendar-table table td {
 text-align: center !important;
 cursor: pointer !important;
 padding: 0 !important;
}
.left-month {
  display: inline-block;
  cursor: pointer;
  width: 25%;
  text-align: center;
}
.right-month {
  display: inline-block;
  cursor: pointer;
  width: 25%;
  text-align: center;
}
.curent-month {
  display: inline-block;
  width: 50%;
  text-align: center;
}
td.today {
  background: #000;
  color: #fff;
}
td.selected {
  border: 1px solid #000 !important;
}
td.disabled {
  color: #B6B3B3;
}