ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.uploaded-images {
  font-size: 0;
}
.uploaded-images li {
  width: 19%;
  border: 1px solid red;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0.5% 5px;
  position: relative;
}
.uploaded-images li > a, .uploaded-image > a {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 20px;
  display: none;
  border: 1px solid #808080;
}
.uploaded-images li.uploaded > a, .uploaded-image.uploaded > a {
  display: block;
}
.uploaded-images li > a:before, .uploaded-images li > a:after,
.uploaded-image > a:before, .uploaded-image > a:after {
  position: absolute;
  content: '';
  display: block;
  width: 70%;
  height: 3px;
  background: #808080;
  border-radius: 2px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.uploaded-images li > a:before, .uploaded-image > a:before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.uploaded-images li > a:after, .uploaded-image > a:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.uploaded-images li > div {
  padding-top: 100%;
  background-image: url(img/scrobler.gif);
  background-size: 50% auto;
  background-position: center center;
  background-repeat: no-repeat;
}
.uploaded-image.uploading {
  border: 1px solid red;
  box-sizing: border-box;
  position: relative;
  height: 150px;
  width: 300px;
  max-width: 100%;
  margin: 10px auto 0;
  background-image: url(img/scrobler.gif);
  background-size: 40px auto;
  background-position: center center;
  background-repeat: no-repeat;
}