.slider-wrapper {
  font-size: 0;
  direction: ltr;
}
.slider-left {
  display: inline-block;
  vertical-align: middle;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid green;
  margin-right: 5px;
  cursor: pointer;
}
.slider-right {
  display: inline-block;
  vertical-align: middle;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid green;
  margin-left: 5px;
  cursor: pointer;
}
.carousel-wrapper {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
.carousel-wrapper > ul {
  position: relative;
  left: 0px;
}
.carousel-wrapper > ul > li {
  display: inline-block;
  vertical-align: middle;
}