@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  padding: 0;
  font-family: Tahoma;
  font-size: 15px;
  line-height: 1;
  background: #e4e8eb;
  direction: rtl;
}
img {
  max-width: 100%;
}
body.grey-body {
  background: #fbfbfb;
}
body.with-fixed-footer {
  padding-bottom: 100px;
}
header {
  background: url(img/header.jpg) 0 0 repeat;
  border-bottom: 2px solid #41210a;
  height: 66px;
}
input {
  outline: none;
}
body.grey-body header {
  background: #bfc8cd;
  background: -moz-linear-gradient(left, #bfc8cd 0%, #e1e6e9 50%, #bfc8cd 100%);
  background: -webkit-linear-gradient(left, #bfc8cd 0%, #e1e6e9 50%, #bfc8cd 100%);
  background: -o-linear-gradient(left, #bfc8cd 0%, #e1e6e9 50%, #bfc8cd 100%);
  background: -ms-linear-gradient(left, #bfc8cd 0%, #e1e6e9 50%, #bfc8cd 100%);
  background: linear-gradient(to right, #bfc8cd 0%, #e1e6e9 50%, #bfc8cd 100%);
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 5px 35px 5px 10px;
  border-radius: 20px;
  background-image: url(img/select.png);
  background-position: right center;
  background-size: 28px 100%;
  background-repeat: no-repeat;
  border: 1px solid #8f8f8f;
  box-sizing: border-box;
  height: 27px;
}
select::-ms-expand {
  display: none;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  background-image: url(img/unchecked.png);
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
}
input[type="checkbox"]::-ms-check {
  display: none;
}
input[type="checkbox"]:checked {
  background-image: url(img/checked.png);
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}
input[type="text"] {
  height: 27px;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid #8f8f8f;
  box-sizing: border-box;
  width: 130px;
}
textarea {
  resize: none;
  width: 100%;
  height: 150px;
  border: 1px solid #8d8d8d;
  padding: 15px 10px;
  border-radius: 20px;
  box-shadow: inset 0px 0px 4px 1px #cacaca;
  color: #4d4d4d;
  box-sizing: border-box;
  font-family: Tahoma;
  outline: none;
}
.error {
  color: red;
  font-size: 15px;
}
.inline-block {
  display: inline-block;
}
.va-top {
  vertical-align: top;
}
.va-middle {
  vertical-align: middle;
}
.ta-left {
  text-align: left;
}
.ta-right {
  text-align: right;
}
.fl-left {
  float: left;
}
.fl-right {
  float: right;
}
.p-rel {
  position: relative;
}
.fw-bold {
  font-weight: bold;
}
.fs-15 {
  font-size: 15px;
}
.fs-18 {
  font-size: 18px;
}
.w-c--110 {
  width: calc(100% - 110px);
}
.w-100p {
  width: 100% !important;
}
.mw-50p {
  max-width: 50%;
}
.mt--35 {
  margin-top: -35px;
}
.mt--15 {
  margin-top: -15px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px !important;
}
.mt-60 {
  margin-top: 60px;
}
.mr-10 {
  margin-right: 10px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-25 {
  padding-bottom: 25px;
}
.pl-55 {
  padding-left: 55px;
}
.pl-60 {
  padding-left: 60px;
}
.bb-1-solid-ababab {
  border-bottom: 1px solid #ababab;
}
.c-8ec63d {
  color: #8ec63d;
}
.c-4d4d4d {
  color: #4d4d4d;
}
.c-989898 {
  color: #989898;
}
.c-ae5daa {
  color: #ae5daa;
}
.clear {
  clear: both;
}
#header-inner {
  width: 400px;
  margin: 0 auto;
  position: relative;
  max-width: 100%;
  font-size: 0;
  text-align: center;
}
body.image-header #header-inner {
  /* padding-bottom: 65px; */
/*   background-image: url(img/img-header.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat; */
}
body.blue-header header {
  background: #00acc2;
}
body.blue-header #header-inner {
  padding-bottom: 65px;
}
.add-advert {
  display: block;
  position: absolute;
  bottom: 5px;
  /* right: 10px; */
  top: 15px;
  height: 14px;
  right: 0;
  left: 0;
  max-width: 110px;
  margin: 0 auto;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.8);
  padding: 9px 15px 11px 15px;
  border-radius: 20px;
  color: #4c4c4c;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid red;
}
.pay {
  display: block;
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 15px;
  background: url(img/pay.png) left 7px center / auto 15px no-repeat, rgba(255, 255, 255, 0.8);
  padding: 9px 15px 11px 37px;
  border-radius: 20px;
  color: #4c4c4c;
  text-decoration: none;
  font-weight: bold;
}
#header-inner:before {
  display: inline-block;
  vertical-align: middle;
  height: 65px;
  content: '';
}
#mobile-menu {
  position: absolute;
  width: 30px;
  cursor: pointer;
  top: 20px;
  right: 20px;
  height: 21px;
}
#mobile-menu li {
  height: 5px;
  background: #fff;
  border-radius: 3px;
}
body.grey-body #mobile-menu li {
  background: #5b3c27;
}
#mobile-menu li:not(:last-of-type) {
  margin-bottom: 3px;
}
#logo {
  position: absolute;
  top: 13px;
  left: 31px;
  width: 39px;
}
#page-back {
  position: absolute;
  top: 16px;
  left: 9px;
  width: 11px;
  height: 33px;
  background-image: url(img/back.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
body.grey-body #page-back {
  background-image: url(img/brown-back.png);
}
#page-name {
  text-align: center;
  font-size: 25px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 140px);
  text-shadow: 2px 2px 0px #41210a;
}
body.image-header #page-name{
  text-align: right;
}
#page-name form {
  position: relative;
}
#page-name form input[type="text"] {
  border-radius: 15px;
  border: 1px solid #2c2e2d;
  height: 30px;
  display: block;
  padding-right: 30px;
  box-sizing: border-box;
  width: 200px;
  max-width: 90%;
}
#page-name form input[type="submit"] {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  width: 20px;
  padding: 0;
  height: 20px;
  background-image: url(img/search.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  font-size: 0;
  cursor: pointer;
}
#main {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}
#main.mainpage {
  margin: 50px auto;
}
.text_between_logos {
  font-size: 26px;
  color: #fff;
  position: absolute;
  top: 17px;
  left: 0;
  right: 0;
}
.top-blue-background {
  background: #44a9df;
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.login-form, .add-nursery-form {
  text-align: center;
  margin-top: 30px;
}
.login-form > div:not(:last-of-type), .add-nursery-form > div:not(:last-of-type) {
  margin-bottom: 15px;
}
.login-form input[type="text"], .login-form input[type="password"], .add-nursery-form input[type="text"] {
  text-align: center;
  width: 300px;
  height: 40px;
  max-width: 100%;
  font-size: 20px;
  border-radius: 23px;
  border: 1px solid #5b5b5b;
}
.short-green-button {
  background-image: url(img/short-green.png);
  background-position: 0 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 150px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.long-green-button {
  background-image: url(img/long-green.png);
  background-position: 0 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 50px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.red-button {
  background: url(img/red-button.png) 0 0 / 100% 100% no-repeat;
  border: none;
  width: 150px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.blue-button {
  background: url(img/blue-button.png) 0 0 / 100% 100% no-repeat;
  border: none;
  width: 100%;
  height: 50px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
#social-login {
  width: 300px;
  margin: 40px auto;
  max-width: 90%;
}
#social-login li:not(:last-of-type) {
  margin-bottom: 10px;
}
#social-login a {
  display: block;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}
#social-login .facebook {
  background: #2e3192;
}
#social-login .google {
  background: #d04433;
}
.bottom-link {
  color: #00acc0;
  border: 2px solid #009bad;
  display: block;
  width: 300px;
  margin: 0 auto;
  max-width: 90%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  border-radius: 20px;
}
#make-photo-wrapper {
  position: relative;
}
.make-photo {
  position: absolute;
  width: 200px;
  height: 50px;
  background: url(img/camera.png) right 10px center / 40px auto no-repeat, #cbcbcb;
  border: 1px solid #b9babc;
  top: 100px;
  right: 0;
  display: block;
  border-radius: 35px;
}
.circle-wrapper {
  width: 214px;
  padding: 5px;
  border: 2px solid #623714;
  border-radius: 110px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 100%;
}
.circle {
  padding-bottom: 100%;
  border: 2px solid #774c22;
  border-radius: 100px;
}
.add-image-wrapper {
  margin: 0 auto;
  margin-top: 10px;
  z-index: 1;
}
.add-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.upload-image {
  background-color: #44a9df;
/*  background-image: url(img/pencil.png);
  background-position: right 15px center;
  background-size: 30px auto;
  background-repeat: no-repeat;*/
  color: #fff;
  font-size: 20px;
  padding: 15px;
  width: 115px;
  max-width: 90%;
  display: block;
  margin: -40px auto 0;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  position: relative;
  z-index: 1;
}
.animal-data {
  text-align: center;
  background: #fff;
  margin-top: -75px;
  padding: 100px 25px 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0px #6d6d6d;
}
.animal-data h3 {
  margin: 20px 0 10px;
  font-weight: normal;
  color: #b2b2b2;
}
.animal-kind {
  font-size: 0;
}
.animal-kind label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8%;
  cursor: pointer;
  width: 28%;
  position: relative;
}
.animal-kind label:last-of-type {
  margin-left: 0;
}
.animal-kind input[type="radio"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.animal-kind input[type="radio"] + span {
  display: block;
  padding-bottom: 100%;
  opacity: 0.5;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.animal-kind input[type="radio"]:checked + span {
  opacity: 1;
}
.animal-birthday {
  font-size: 0;
}
.animal-birthday select {
  width: 25%;
  margin-left: 3%;
}
.animal-birthday select:last-of-type {
  margin-left: 0;
}
.long-select select {
  width: 81%;
}
.checkbox-field {
  padding: 20px 0 0;
}
.checkbox-field h3 {
  display: inline-block;
  margin: 0 !important;
  vertical-align: middle;
}
.checkbox-field input[type="checkbox"] {
  vertical-align: middle;
}
.form-buttons {
  margin-top: 20px;
  overflow: hidden;
}
.form-buttons .button {
  float: right;
}
.form-buttons .red-button {
  float: left;
}
#camera-video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.edit-button {
  display: inline-block;
  padding: 5px 30px 5px 10px;
  background: #c1c1c1;
  background: -moz-radial-gradient(center, ellipse, #cbcbcb 0%, #b7b7b7 100%);
  background: -webkit-radial-gradient(center, ellipse, #cbcbcb 0%, #b7b7b7 100%);
  background: -o-radial-gradient(center, ellipse, #cbcbcb 0%, #b7b7b7 100%);
  background: -ms-radial-gradient(center, ellipse, #cbcbcb 0%, #b7b7b7 100%);
  background: url(img/pencil.png) right 7px center / auto 15px no-repeat, radial-gradient(ellipse at center, #cbcbcb 0%, #b7b7b7 100%);
  color: #fff;
  text-decoration: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.edit-button.full-rounded {
  border-top-left-radius: 20px;
}
.call-button {
  display: inline-block;
  background: url(img/brown-button.png) 0 0 / 100% 100% no-repeat;
  padding: 15px 25px 15px 25px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}
h1.green-header {
  color: #8ec840;
  margin: 0;
  padding: 0;
  text-align: center;
  text-shadow: 1px -1px 0px #5b3f2a;
  font-size: 30px;
  margin: 10px 0;
}
.grey-text {
  text-align: center;
  color: #b2b2b2;
  margin: 5px 0;
  font-size: 16px;
}
.tabs-wrapper .tabs-list > li:not(:first-of-type) {
  display: none;
}
.tabs-switcher {
  font-size: 0;
  text-align: center;
  padding: 10px 0;
}
.tabs-switcher.border-top {
  border-top: 1px solid #41210c;
}
.tabs-switcher.border-top.grey {
  border-top: 1px solid #b2b2b2;
}
.tabs-switcher.border-bottom {
  border-bottom: 1px solid #41210c;
}
.tabs-switcher.border-bottom.grey {
  border-bottom: 1px solid #b2b2b2;
}
.tabs-switcher li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.tabs-switcher li:not(:last-of-type) {
  margin-left: 30px;
}
.tabs-switcher.seperate li:not(:last-of-type) {
  margin-left: 15px;
  padding-left: 15px;
}
.tabs-switcher.seperate li:not(:last-of-type):after {
  position: absolute;
  content: '';
  height: 100%;
  left: -1px;
  top: 0;
  width: 2px;
  background: #41210c;
}
.tabs-switcher.seperate.grey li:not(:last-of-type):after {
  background: #b2b2b2;
}
.tabs-switcher li a {
  font-size: 20px;
  color: #3e210f;
  text-decoration: none;
}
.tabs-switcher.grey li a {
  color: #b2b2b2;
}
.tabs-switcher li a.active {
  font-weight: bold;
  text-decoration: underline;
}
.data-values {
  width: 100%;
  border-collapse: collapse;
}
.data-values tr td {
  color: #b2b2b2;
  padding: 3px 0;
  width: 50%;
}
.data-values tr td:first-of-type {
  text-align: left;
  padding-left: 15px;
}
.data-values tr td:last-of-type {
  font-weight: bold;
}
.data-values tr.underline td {
  border-bottom: 1px solid #a8a9ad;
}
#fixed-footer {
  position: fixed;
  height: 63px;
  background: #5b3c27;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
#fixed-footer-inner {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
}
.fixed-icons-menu {
  font-size: 0;
  text-align: center;
}
.fixed-icons-menu li {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all 0.1s linear 0s;
  -moz-transition: all 0.1s linear 0s;
  -o-transition: all 0.1s linear 0s;
  transition: all 0.1s linear 0s;
}
.fixed-icons-menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: all 0.1s linear 0s;
  -moz-transition: all 0.1s linear 0s;
  -o-transition: all 0.1s linear 0s;
  transition: all 0.1s linear 0s;
}
.fixed-icons-menu li:hover a {
  color: #8ec840;
}
.fixed-icons-menu li .icon-wrapper {
  position: relative;
  height: 40px;
}
.fixed-icons-menu li .icon {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px;
  background: #5b3c27;
  box-sizing: border-box;
  border-radius: 20%;
}
.fixed-icons-menu li .icon div {
  padding-top: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.edit-data-form-wrapper {
  margin: 15px 0;
}
.edit-data-form-wrapper input[type="text"] {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #2e2e2e;
  padding: 2px 0;
}
.edit-data-form-wrapper input[type="submit"] {
  display: block;
  margin: 20px auto 0;
}
.page-top-circle {
  margin: -63px auto 0;
  width: 120px;
  position: relative;
}
.page-top-circle.mt-20 {
  margin-top: 20px;
}
.page-top-circle .circle-wrapper {
  z-index: 1;
}
.page-top-circle .make-photo {
  width: 175px;
  top: 63px;
  right: -90px;
  height: 35px;
  background: url(img/camera.png) right 10px center / 30px auto no-repeat, #cbcbcb;
}
.circle-wrapper.circle-with-text .circle {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.circle-wrapper.circle-with-text.green-circle .circle {
  background-color: #8ec79c;
}
.circle-wrapper.circle-with-text.efefef-circle .circle {
  background-color: #efefef;
}
.circle-wrapper.circle-with-text > div > div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 0;
}
.circle-wrapper.circle-with-text > div > div:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.circle-wrapper.circle-with-text > div > div > div {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
}
.circle-wrapper.circle-with-text.efefef-circle > div > div > div {
  color: #41210c;
}
.page-info {
  background: #fff;
  border-radius: 15px;
  border: 1px solid #afafaf;
  padding: 15px 10px 10px;
}
.page-info > .tabs-switcher li:not(:last-of-type) {
  margin-left: 60px;
}
.page-info-inner {
  border: 1px solid #8d8d8d;
  padding: 15px 10px;
  border-radius: 20px;
  box-shadow: inset 0px 0px 4px 1px #cacaca;
  text-align: right;
  color: #4d4d4d;
  font-size: 16px;
  margin-top: 5px;
  box-sizing: border-box;
}
.page-info-inner .page-info-inner-block:not(:last-of-type) {
  margin-bottom: 15px;
}
.page-info-inner-block h3 {
  margin: 0;
  color: #4d4d4d;
  font-weight: bold;
  font-size: 18px;
}
.page-info-inner-block div {
  margin-top: 5px;
}
#popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  overflow: auto;
  box-sizing: border-box;
  z-index: 1;
  font-size: 0;
  text-align: center;
}
#popup-wrapper:before {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  content: '';
}
#popup {
  max-width: 100%;
  font-size: 15px;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}
#popup .animal-data {
  padding-top: 75px;
}
.page-info-inner.with-edit-button {
  min-height: 150px;
  position: relative;
  padding-bottom: 30px;
  overflow: hidden;
}
.page-info-inner.with-call-button {
  min-height: 150px;
  position: relative;
  padding-bottom: 70px;
  overflow: hidden;
}
.page-info-inner.with-edit-button .edit-button {
  position: absolute;
  bottom: 0;
  left: 0;
}
#close-popup {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 15px;
  height: 15px;
}
#close-popup:before, #close-popup:after {
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  content: '';
  background: #fff;
  display: block;
  position: absolute;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#close-popup:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.anilmals-list > li {
  font-size: 0;
  border-bottom: 1px solid #ababab;
  padding-bottom: 10px;
}
.anilmals-list > li:last-child {
  border: none;
}
.anilmals-list > li:not(:last-of-type) {
  margin-bottom: 15px;
}
.anilmals-list-2 > li:last-of-type {
  border-bottom: 1px solid #ababab;
  padding-bottom: 10px;
}
.anilmals-list-2 > li:not(:last-of-type) {
  margin-bottom: 15px;
}
.anilmals-list-advert {
  color: #4d4d4d;
  display: block;
}
.animal-image-wrapper {
  padding: 2px;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 2px solid #603814;
  border-radius: 16px/18px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
.animal-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 14px/16px;
}
.animal-values {
  display: inline-block;
  vertical-align: middle;
}
.animal-add-date {
  font-size: 15px;
  margin-bottom: 5px;
}
.animal-value-1 {
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  margin-left: 30px;
  position: relative;
}
.animal-value-1.seperated {
  margin-left: 15px;
  padding-left: 15px;
}
.animal-value-1.seperated:after {
  position: absolute;
  content: '';
  display: block;
  height: 100%;
  width: 2px;
  background: #8d8d8d;
  left: -1px;
  top: 0;
}
.animal-value-2 {
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
}
.anilmals-list .circle-wrapper {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
}
.anilmals-list.odd-efc698 li:nth-child(odd) .circle-wrapper.circle-with-text .circle {
  background: #efc698;
}
.edit {
  font-size: 15px;
  display: block;
  padding-bottom: 20px;
  background: url(img/pencil.png) center 16px / 17px auto no-repeat;
  position: absolute;
  color: #fff;
  text-decoration: none;
  top: 60px;
  right: 11px;
}
.photo {
  display: block;
  background: url(img/camera.png) center center / contain no-repeat;
  position: absolute;
  color: #fff;
  text-decoration: none;
  top: 98px;
  right: 9px;
  font-size: 0;
  width: 25px;
  height: 25px;
}
.page-info-inner.with-call-button .call-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.plus-button {
  background-image: url(img/plus-button.png);
  background-position: right center;
  background-size: 40px auto;
  background-repeat: no-repeat;
  font-weight: bold;
  text-decoration: none;
  color: #f88c20;
  padding: 14px 50px 14px 0;
  display: block;
}
.animals-list-3 .animal-image, #single-animal .animal-image {
  padding-bottom: 50%;
  border-radius: 0;
  position: relative;
}
.animals-list-3 > li {
  padding-top: 5px;
  border-top: 2px solid #5b3c27;
  overflow: hidden;
}
.red-button-2 {
  display: block;
  position: absolute;
  background: #f6936c;
  padding: 7px 15px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  top: 0;
  right: 0;
  border-radius: 20px 0px 20px 20px;
}
.animal-share {
  display: block;
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #fff;
  background: #5572aa;
  border: 2px solid #264681;
  text-decoration: none;
  padding: 6px 10px;
}
.animal-title {
  position: absolute;
  bottom: 11px;
  width: 100%;
  padding-right: 75px;
  box-sizing: border-box;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.animals-list-3 > li:nth-of-type(even) .red-button-2 {
  background: #44a9df;
}
#single-animal {
  overflow: hidden;
  position: relative;
}
#single-animal .animal-share {
  bottom: auto;
  top: 10px;
  right: 10px;
}
#single-animal .animal-title {
  padding-right: 10px;
}
.pin {
  position: absolute;
  background-image: url(img/pin.png);
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  bottom: 0;
  left: 10px;
  padding: 23px 16px;
}
.pin.edit-animal {
  position: relative;
  padding: 10px 0px 0px 55px;
  display: inline-block;
  margin: -5px 0 0 35px;
  left: 0;
}
.dash-list > li {
  position: relative;
  padding-right: 15px;
}
.dash-list > li:before {
  position: absolute;
  content: '-';
  top: 0;
  right: 0;
  display: block;
}
.edit-animal-image {
  height: 200px;
  background-color: #e8ebf2;
  background-image: url(img/default-image.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0px 0px 10px 10px;
  width: 95%;
  margin: 0 auto;
  position: relative;
}
.edit-animal-image--upload-image {
  height: 60px;
  top: 70px;
  width: 39%;
  margin: 0 auto;
  position: absolute;
  left: 110px;
  cursor: pointer;
}

.edit-animal-image-text {
  text-align: center;
  color: #eb1c24;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  position: absolute;
  left: 0;
  right: 0;
}
.button1 {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(img/button1.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.button2 {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(img/button2.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.edit-animal-image .button1 {
  left: 10px;
  bottom: 10px;
  opacity: 0.5;
}
.edit-animal-image .button2 {
  right: 10px;
  bottom: 10px;
  opacity: 0.5;
}
.edit-animal-image input[type="radio"][name="type"] {
  display: none;
}
.edit-animal-image input[type="radio"][name="type"]:checked + div {
  opacity: 1;
}
.edit-animal-image .upload-image {
  width: 170px;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
}
.edit-animal-wrapper h3 {
  margin: 0;
  color: #bdbec0;
  font-weight: normal;
}
.edit-animal-wrapper .checkbox-label {
  display: block;
  margin-top: 20px;
}
.edit-animal-wrapper .checkbox-label h3 {
  display: inline-block;
  vertical-align: middle;
}
.edit-animal-wrapper .checkbox-label input[type="checkbox"] {
  vertical-align: middle;
}
#main-menu-wrapper {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #fff;
  top: 0px;
  left: -245px;
  z-index: 3;
  font-size: 15px;
  text-align: left;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
#main-menu-wrapper.opened {
  left: 0px;
}
#close-main-menu {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 5px;
  right: -45px;
  border: 1px solid red;
  border-radius: 100%;
  box-sizing: border-box;
}
#close-main-menu:before, #close-main-menu:after {
  content: '';
  display: block;
  width: 80%;
  height: 2px;
  border-radius: 2px;
  background: red;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#close-main-menu:before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#close-main-menu:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#main-menu {
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}
#main-menu a {
  display: block;
  padding: 15px 10px;
  color: #000;
  border-bottom: 1px solid #000;
  text-decoration: none;
}
.additional-image-wrapper {
  width: 95%;
  margin: 0 auto;
}
.additional-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  border-radius: 100%;
  padding-bottom: 100%;
}
.additional-images {
  position: absolute;
  top: 10px;
  right: 0;
  width: 100px;
  z-index: 2;
}
.add-nursery-form textarea {
  width: 300px;
  max-width: 100%;
  font-size: 20px;
  text-align: center;
}
.add-nursery-form .upload-image {
  margin: 0 auto;
}
#add-animal-to-nursery {
  width: 400px;
  max-width: 100%;
}
#add-animal-to-nursery input[type="text"] {
  width: 100%;
}
.animal-subspecies-select {
  display: none;
}
@-webkit-keyframes scrobler {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes scrobler {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes scrobler {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes scrobler {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.scrobler {
  width: 48px;
  height: 48px;
  background: url(img/scrobler.png) center center / contain no-repeat;
  margin: 0 auto 0 !important;
  -webkit-animation: scrobler 2s linear 0s infinite normal;
  -moz-animation: scrobler 2s linear 0s infinite normal;
  -o-animation: scrobler 2s linear 0s infinite normal;
  animation: scrobler 2s linear 0s infinite normal;
  display: none;
}
#add-animal-to-nursery.no-submit .scrobler {
  display: block;
}
#add-animal-to-nursery.no-submit input[type="submit"] {
  display: none;
}



.camera{
  width: 100%;
  position: relative;
  display: none;
  left: 0;
  right: 0;
  z-index: 30;
}

.camera #start-camera{
  display: none;
  border-radius: 3px;
  max-width: 400px;
  color: #fff;
  background-color: #448AFF;
  text-decoration: none;
  padding: 15px;
  opacity: 0.8;
  margin: 50px auto;
  text-align: center;
}

.camera video#camera-stream{
  display: none;
  width: 100%;
}

.camera img#snap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: none;
}

.camera #error-message{
  width: 100%;
  background-color: #ccc;
  color: #9b9b9b;
  font-size: 28px;
  padding: 200px 100px;
  text-align: center;
  display: none;
}

.camera .controls{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  display: none;
}
#switch_camera {
  position: absolute;
  top: 0;
  right: 0;
}
#close_camera {
  position: absolute;
  top: 0;
  left: 0;
}
.camera .controls a{
  border-radius: 50%;
  color: #fff;
  background-color: #111;
  text-decoration: none;
  padding: 15px;
  line-height: 0;
  opacity: 0.7;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.camera .controls a:hover{
  opacity: 1;
}

.camera .controls a.disabled{
  background-color: #555;
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.camera .controls a.disabled:hover{
  opacity: 0.5;
}

.camera .controls a i{
  font-size: 18px;
}

.camera .controls #take-photo i{
  font-size: 32px;
}

.camera canvas{
  display: none;
}



.camera video#camera-stream.visible,
.camera img#snap.visible,
.camera #error-message.visible
{
  display: block;
}

.camera .controls.visible{
  display: flex;
}

.chat_message {
  height: auto;
  margin-top: 10px;
}

#chat {
  border-top: 1px solid #ccc;
  padding: 10px 0px;
  margin: 12px 10px;
}
#chat li {
  margin: 5px 0;
  text-align: left;
  padding: 5px 7px;
  border-radius: 6px;
  background: rgba(183, 110, 167, 0.53);
  float: left;
  max-width: 80%;
}

#chat li.current_user {
  text-align: right;
  background: #e0e5e8;
  float: right;
}
#chat .user_data {
  display: flex;
  justify-content: space-between;
}

#chat .user_data .name {
  font-weight: bold;
}

@media(max-width: 1000px){
  .camera #start-camera.visible{
      display: block;
  }

  .camera .controls a i{
      font-size: 16px;
  }

  .camera .controls #take-photo i{
      font-size: 24px;
  }
}


@media(max-width: 600px){
  .camera #error-message{
      padding: 80px 50px;
      font-size: 18px;
  }

  .camera .controls a i{
      font-size: 12px;
  }

  .camera .controls #take-photo i{
      font-size: 18px;
  }
}


.geolocate {
  min-height: 16px;
  font-size: 0.9em;
}